<nav [class]="getMenuClasses()">
  <ul class="menu-list">
    <li
      *ngFor="let item of items"
      class="menu-item"
      [class.active]="isActive(item)"
      [class.has-children]="item.children?.length"
    >
      <a
        [routerLink]="item.link"
        class="menu-link"
        [class.active]="isActive(item)"
        (click)="onItemClick(item)"
      >
        <app-icon
          [name]="item.title"
          [size]="item?.size || 32"
          [color]="isActive(item) ? item?.activeColor || '#0086AD' : item?.color || 'white'"
          [category]="item?.category || 'menu'"
          [icon]="item?.icon || ''"
        ></app-icon>
        <span class="menu-title" [class.hidden]="config.compact">{{
          item.title
        }}</span>
      </a>
    </li>
  </ul>
</nav>
